[Unit]
After=network-online.target
Description=Wireguard health check server
DefaultDependencies=no

[Service]
Type=simple
Environment="ROCKET_CONFIG=/etc/wghrs/config.toml"
ExecStart=/usr/local/sbin/wghrs
PIDFile=/var/run/wghrs.pid
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target